color-red = red
font-size = 14px

// theme1
theme1-main = rgb(254, 71, 60)
theme1-sub = rgb(255, 184, 0) 

// theme2
theme2-main = rgb(255, 158, 0)
theme2-sub = rgb(69, 69, 69)

// theme3 
theme3-main = rgb(215, 183, 130)
theme3-sub = rgb(207, 197, 174)


