@import './define.styl'

.test
  color color-red
  font font-size Arial, sans-seri
  border-radius 4px

// 拼接主色值
joinMainName(num) 
  theme + num + -main

// 拼接辅色值
joinSubName(num)
  theme + num + -sub  

// 遍历输出改变色值的元素类名
for num in (1..3)
  .theme{num}
    .font-vi
      color joinMainName(num)

    .main-btn
      background joinMainName(num)
      
    .sub-btn
      background joinSubName(num)   



 
    